/* ------------------------------------------------------------ *\
  card-review
\* ------------------------------------------------------------ */

.card-review {
  border-radius: var(--radius-m);
  background-color: var(--c-neutral-100);
  padding: var(--space-400);
}

.card-review__stars {
  margin-bottom: 2.4rem;
  color: #000;

  ul {
    display: flex;
    margin-block: 0;
    color: var(--c-green-500);
  }
}

.card-review__star {
  line-height: 0;
}

.card-review__content {
  font-size: var(--fz-l);
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.card-review__author {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card-review__author p {
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.card-review__author span {
  font-size: var(--fz-s);
}

.card-review__image {
  border-radius: 50%;
  overflow: hidden;
  width: 5.6rem;
}

.card-review__image .media {
  padding-bottom: 100%;
}
