.collapsible-tab {
  display: block;
  border-bottom: 1px solid var(--c-neutral-200);
}

.collapsible-tab__head {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  min-height: 6.4rem;

  @media (max-width: 767px) {
    min-height: 5rem;
  }
}

.collapsible-tab__head i {
  line-height: 0;
  width: 2.4rem;
  height: auto;
}

.collapsible-tab__head > svg {
  margin-left: auto;
  transition: transform var(--duration-default) linear;
}

.collapsible-tab__body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
}

.collapsible-tab.is-active .collapsible-tab__body {
  grid-template-rows: 1fr;
}

.collapsible-tab__body-inner {
  overflow: hidden;
}
