 .predictive-search__actions {
  margin-top: 2.4rem;
}

.predictive-search__item {
  position: relative;
  padding-block: 1.3rem;
  border-bottom: 1px solid var(--c-neutral-200);
}

.predictive-search__item-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.predictive-search__item h6 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: var(--fz-r);
  flex: 1;
  transition: color var(--duration-default) ease;
}

.predictive-search__item:hover h6 {
  color: var(--c-main-500);
}

.predictive-search__item h6 .highlight {
  color: var(--c-main-500);
  font-weight: 500;
}

.predictive-search__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.predictive-search__item .media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  aspect-ratio: 1;
  flex: 0 0 4rem;
  padding-bottom: 0;
  align-self: center;
  border-radius: var(--radius-s);
  color: var(--c-main-500);
  background-color: var(--c-main-100 , var(--color-background-media));
  transition: color var(--duration-default) ease, background-color var(--duration-default) ease;
}

@media screen and (max-width: 989px) {
  .predictive-search__item .media {
    width: 3.2rem;
    flex: 0 0 3.2rem;
  }
}

.predictive-search__item:hover .media {
  background-color: var(--c-main-500);
  color: var(--c-main-100 , var(--color-background-media));
}

.predictive-search__item .media svg {
  display: block;
  position: relative;
  max-width: 2.4rem;
  height: auto;
}

.predictive-search__actions a {
  min-width: 0;
}

.predictive-search__actions {
  margin-bottom: 1rem;
}

@media screen and (min-width: 950px) {
  .predictive-search__songs {
    margin-right: 4rem;
  }

  .predictive-search__others {
    padding-left: 4rem;
    border-left: 1px solid var(--c-neutral-200);
  }
}

.predictive-search__hide {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  font-size: var(--fz-r);
  padding: 1.6rem 2rem;
  border-bottom: 1px solid var(--c-neutral-200);

  i {
    pointer-events: none;
    line-height: 0;
  }

  span {
    pointer-events: none;
  }
}
