/* ------------------------------------------------------------ *\
  Card chart
\* ------------------------------------------------------------ */

.card-chart {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-200);
  border-radius: var(--radius-m);
  padding: var(--space-200) var(--space-300) var(--space-200) var(--space-200);
  will-change: background-color;
  transition: background-color var(--duration-default) ease-in-out;
}

@media (max-width: 749px) {
  .card-chart {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-200) 0;
  }
}

@media (hover:hover) {
  .card-chart:hover {
    background-color: var(--c-neutral-100);
  }
}

.card-chart__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.card-chart__media {
  flex: 0 0 12rem;
  border-radius: var(--radius-s);
  overflow: hidden;
}

@media (max-width: 749px) {
  .card-chart__media {
    flex: 1;
    width: 100%;
  }
}

.card-chart__content {
  flex: 1;
}

.card-chart__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-100);
  margin-bottom: var(--space-50);
}

@media (max-width: 749px) {
  .card-chart__head {
    margin-bottom: var(--space-100);
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.card-chart__title {
  line-height: 1.4;
  margin-bottom: 0;
  padding-left: 2rem;
  text-indent: -2rem;
}

li:nth-child(n+9) .card-chart__title {
  padding-left: 2.8rem;
  text-indent: -2.8rem;
}

@media (min-width: 750px) {
  .card-chart__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-left: 0;
    text-indent: 0;
    text-overflow: ellipsis;
    max-height: 1.4em;
  }

  li:nth-child(n+9) .card-chart__title {
    padding-left: 0;
    text-indent: 0;
  }
}

.card-chart__header-details {
  display: flex;
  gap: var(--space-100);
  align-items: center;
}

@media (max-width: 749px) {
  .card-chart__header-details {
  }
}

.card-chart__header-details .tag {
  white-space: nowrap;
}

.card-chart__details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem 1.6rem;
  font-size: var(--fz-s);
}

@media (min-width: 750px) {
  .card-chart__details > * + * {
    position: relative;
  }

  .card-chart__details > * + *:before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #E5E5E5;
  }
}

.card-charts__views {
  display: flex;
  align-items: center;
  gap: var(--space-50);
  font-size: var(--fz-s);

  i {
    line-height: 0;
  }
}
