/* ------------------------------------------------------------ *\
  Dropdown tabs
\* ------------------------------------------------------------ */

.dropdown-tabs {
  display: block;
  padding: var(--space-500);
  background-color: var(--c-neutral-50);
  box-shadow: 0 4px 0 0 #0000000D;
  border-radius: var(--radius-m);
}

@media (max-width: 749px) {
  .dropdown-tabs {
    padding: var(--space-300) var(--space-250);
  }
}

.dropdown-tabs__header {
  display: flex;
  justify-content: space-between;
  gap: var(--space-300);
  margin-bottom: var(--space-400);
}

@media (max-width: 749px) {
  .dropdown-tabs__header {
    margin-bottom: var(--space-200);
  }
}

@media (max-width: 550px) {
  .dropdown-tabs__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown-tabs__title {
  margin-bottom: 0;
}

.dropdown-tabs__actions .select-input__el {
  height: 4rem;
  text-transform: uppercase;
  font-size: var(--fz-t);
  font-weight: 700;
  background-color: var(--c-neutral-200);
  padding-inline: 2.2rem 4.3rem;
  border-color: transparent;
  border-radius: var(--radius-m);
}

.dropdown-tabs__actions .select-input__el:focus {
  outline: none;
  border-color: transparent;
}

.dropdown-tabs__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
}

@media (max-width: 989px) {
  .dropdown-tabs__list {
    display: block;
  }
}

.dropdown-tabs__tab {
  display: none;
}

.dropdown-tabs__tab.is-active {
  display: block;
}

.dropdown-tabs__link {
  display: flex;
  justify-content: center;
  padding-top: var(--space-400);
}
