.main-cart {
  padding: 8rem 0;
}

@media (max-width: 989px) {
  .main-cart {
    padding: 6rem 0;
  }
}

.cart-items {
  width: 100%;
}

table.cart-items {
  text-align: left;
  border-collapse: collapse;
}

@media screen and (max-width: 989px) {
  table.cart-items,
  table.cart-items tr:not(.cart-item),
  table.cart-items th,
  table.cart-items td,
  table.cart-items tbody,
  tfoot.cart-items__foot {
    display: block;
  }

  .cart-item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  .cart-item__media {
    width: 15rem;
  }

  .cart-item__price,
  .cart-item__quantity,
  .cart-item__total {
    width: 100%;
  }

  .cart-item__price::before,
  .cart-item__quantity::before,
  .cart-item__total::before {
    content: attr(data-heading) ': ';
    display: inline;
    vertical-align: middle;
  }

  .cart-item__quantity-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .cart-item__details {
    flex: 1;
  }
}

.cart-drawer table.cart-items,
.cart-drawer table.cart-items tr:not(.cart-item),
.cart-drawer table.cart-items th,
.cart-drawer table.cart-items td,
.cart-drawer table.cart-items tbody,
.cart-drawer tfoot.cart-items__foot {
  display: block;
}

.cart-drawer .cart-item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.cart-item__media {
  width: 20rem;
}

.cart-item__media .media {
  border-radius: var(--radius-m);
  overflow: hidden;
}

.cart-drawer .cart-item__details {
  flex: 1;
}

.cart-item {
  padding: 1.5rem 0;
  border-top: 0.1rem solid var(--color-border);
}

.cart-item:last-child {
  border-bottom: 0.1rem solid var(--color-border);
}

.cart-item__title {
  margin: 0;
}

table.cart-items td.cart-item__details,
table.cart-drawer__items td.cart-item__details {
  padding-left: 2rem;
}

.cart-item dl {
  margin: 0.5rem 0 0;
}

.cart-item dl > div:not(.block) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item dl > .block {
  word-break: break-word;
}

.cart-item dt {
  margin-right: 0.5rem;
}

.cart-item dd {
  margin: 0;
}

cart-remove-button {
  display: block;
}

.cart-summary__button {
  width: auto;
}

.cart-summary__button + .cart-summary__button {
  margin-top: 2rem;
}

table.cart-items td {
  vertical-align: top;
  padding: 1.5rem;
  border-top: 0.1rem solid var(--color-border);
}

table.cart-items td:first-child {
  padding-left: 0;
}

table.cart-items td:last-child {
  padding-right: 0;
}

.cart-item__quantity {
  text-align: center;
  width: 18.2rem;
}

.cart-item__quantity-wrapper {
  display: flex;
  justify-content: center;
}

.cart-drawer .cart-item__quantity-wrapper {
  justify-content: flex-start;
}

.cart-items__cell--quantity {
  text-align: center;
}

.cart-items__cell--total,
.cart-item__total,
tfoot.cart-items__foot td.cart-items__cell {
  text-align: right;
}

.cart-item__discounts li svg,
.cart-item__discounts li span {
  vertical-align: middle;
}

.cart-item__discounts li svg {
  margin-right: 0.5rem;
}

.cart-item__details-actions {
  margin-top: 2rem;
}

.cart-drawer .cart-item .cart-item__quantity-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

table.cart-items td.cart-item__price {
  padding-left: 0;
}

@media screen and (max-width: 989px) {
  .cart-item__quantity-wrapper,
  .cart-drawer .cart-item .cart-item__quantity-wrapper,
  .cart-item__discounted-prices,
  .cart-item__price strong,
  .cart-item__total strong,
  .cart-item__discounted-prices del,
  .cart-item__discounted-prices strong {
    display: inline-block;
    vertical-align: middle;
  }

  table.cart-items thead {
    display: none;
  }

  .cart-item__details-content cart-remove-button {
    display: inline-block;
  }

  .cart-item__details-content .cart-item__quantity-wrapper,
  .cart-item__details-content cart-remove-button {
    vertical-align: middle;
  }

  .cart-item__details-content .cart-item__quantity-wrapper {
    margin-right: 1rem;
  }

  .cart-summary__button {
    width: 100%;
  }

  table.cart-items td {
    padding: 0;
    border-top: none;
  }

  table.cart-items td.cart-item__details,
  table.cart-drawer__items td.cart-item__details {
    padding-left: 1.5rem;
  }

  .cart-item__media {
    width: 15rem;
  }

  .cart-item__quantity {
    text-align: left;
  }

  .cart-items__cell--quantity {
    text-align: left;
  }

  .cart-items__cell--total,
  .cart-item__total,
  tfoot.cart-items__foot td.cart-items__cell {
    text-align: center;
  }

  tfoot.cart-items__foot td.cart-items__cell {
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 440px) {
  .cart-item__media {
    width: 10rem;
  }
}

@media screen and (max-width: 360px) {
  .cart-item__media {
    width: 6rem;
  }
}
