.faq-item {
  background-color: #F4F4F4;
  border-radius: var(--radius-m);
  border: 1px solid #E8E8E8;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.3rem 2.4rem;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.faq-item--large .faq-question {
  padding: 2.05rem 2.4rem;
}

/* Remove default arrow from details/summary */
.faq-question {
  list-style: none;
  font-size: var(--fz-m);
  font-weight: 700;
}

.faq-question::-webkit-details-marker {
  display: none;
}

.faq-question-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.faq-chevron-icon,
.faq-question-icon {
  line-height: 0;
}

.faq-chevron-icon svg {
  width: 3.2rem;
  height: 3.2rem;
}

.faq-question-icon svg {
  width: 2.4rem;
  height: 2.4rem;
}

.faq-chevron-icon {
  transition: transform 0.2s ease;
}

.faq-item[open] > .faq-question .faq-chevron-icon {
  transform: rotate(180deg);
}

.faq-answer {
  font-size: var(--fz-m);
  padding: 0 2.4rem 1.6rem;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: -0.4rem
}

.faq-answer p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
