.reviews-carousel .container {
  overflow: hidden;
}

.reviews-carousel__subtitle,
.reviews-carousel__title {
  margin-top: 0;
}

.reviews-carousel__title {
  margin-bottom: var(--space-100);
}

.reviews-carousel__subtitle {
  line-height: 1.4;
  font-size: var(--fz-l);
}

.reviews-carousel__head {
  display: flex;
  justify-content: space-between;
  gap: var(--space-300);
  align-items: flex-end;
  padding-bottom: var(--space-600);
}

@media (max-width: 989px) {
  .reviews-carousel__head {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: var(--space-300);
  }
}

.reviews-carousel__content {
  margin: auto;
}

/* Slider */
@media (max-width: 1375px) {
  .reviews-carousel .swiper,
  .reviews-carousel .swiper-wrapper {
    overflow: visible;
  }
}

.reviews-carousel .swiper-slide {
  width: 41.2rem;
}

.reviews-carousel .reviews-carousel__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-300);
  margin-top: var(--space-600);
}

@media (max-width: 989px) {
  .reviews-carousel .reviews-carousel__actions {
    margin-top: var(--space-400);
  }
}

.reviews-carousel .swiper-arrows {
  position: static;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0;
  transform: none;
}

.reviews-carousel .swiper-arrow--next {
  margin-left: 1rem;
}

.reviews-carousel .swiper-pagination {
  text-align: left;
}
