/* ------------------------------------------------------------ *\
  Main collection songs
\* ------------------------------------------------------------ */

.main-collection-songs {
  overflow: visible;
}

@media (max-width: 989px) {
  .main-collection-songs .hero-banner-search__charts:has(.facets-mobile[open]) {
    z-index: var(--z-modals);
  }
}

.main-collection-songs .hero__title {
  margin-bottom: 0;
}

.main-collection-songs .collection__inner {
  display: block;
  padding: 4rem;
  background-color: #fff;
  border-radius: var(--radius-m);
  box-shadow: 0 0.4rem 0 0 #0000000D;
}

@media (max-width: 989px) {
  .main-collection-songs .collection__inner {
    padding: 2rem;
  }
}

.main-collection-songs .collection-facets {
  margin-bottom: 3.2rem;
}

.main-collection-songs .collection-facets .container  {
  padding-inline: 0;
}

.main-collection-songs .facets-active {
  margin-top: 1rem;
}

.main-collection-songs .facets-mobile__button {
  font-size: var(--fz-t);
}

.main-collection-songs .facets-mobile__button svg {
  width: 2rem;
  height: auto;
}

/* Sort */
.main-collection-songs .facets__sort .select-input__label {
  margin-right: 0;
  font-size: var(--fz-s);
}

.main-collection-songs .facets__sort .dropdown__button {
  font-size: var(--fz-s);
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-top: 0.4rem;

  svg {
    line-height: 0;
  }
}

.main-collection-songs .facets__sort summary span {
  margin-left: 1.2rem;
}

.main-collection-songs .facets__sort .dropdown__icon {
  margin-left: 0.4rem;
  line-height: 0;
}

.main-collection-songs .dropdown__list {
  box-shadow: 0 .4rem 4rem #00000015;
  border-radius: var(--radius-m);
}

/* Grid */
.main-collection-songs .collection__grid {
  gap: 0 2rem;
}

/* Filters */
@media (min-width: 990px) {
  .main-collection-songs .facets-mobile {
    position: relative;
  }

  .main-collection-songs .facets-mobile__wrapper {
    position: absolute;
    width: 40rem;
    top: 100%;
    left: 0;
    bottom: unset;
    height: auto;
    box-shadow: 0 .4rem 4rem #00000015;
    border-radius: var(--radius-m);
  }

  .main-collection-songs .facets-mobile__wrapper .facets-mobile__title {
    display: none;
  }
}
