/* ------------------------------------------------------------ *\
  Megamenu
\* ------------------------------------------------------------ */

.megamenu {
  --scrollbar: var(--scrollbar-width, 1.8rem);
  --main-menu-width: 22vw;
  --products-width: calc(100vw - var(--scrollbar) - var(--main-menu-width));
  --submenu-width: 19.2vw;
  --submenu-products-width: calc(100vw - var(--scrollbar) - var(--main-menu-width) - var(--submenu-width));
  display: flex;
  position: relative;
  max-height: 85vh;
  height: var(--megamenu-height, auto);
  min-height: 35rem;
  background-color: var(--color-background-secondary);
  transition: height var(--duration-default) ease-in-out;
}

.megamenu.color-gray {
  --color-megamenu-left-background: var(--c-neutral-100);
  --color-megamenu-left-text: var(--c-neutral-950);
}

.megamenu__inner {
  padding: 4rem 0 4rem 4rem;
  display: flex;
  flex-direction: column;
  background: var(--color-megamenu-left-background);
  width: var(--main-menu-width);
}

.megamenu__logo {
  margin-top: auto;
  max-width: 15.3rem;
  width: 100%;
  padding-top: 4rem;
}

.megamenu__logo .media img {
  object-fit: contain;
}

.megamenu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-megamenu-left-text);
  gap: 0.8rem;
  font-size: var(--fz-r);
  font-weight: 700;
  line-height: 1.4;
  padding: 1.2rem 1.6rem;
  cursor: pointer;
  border-radius: var(--radius-s) 0 0 var(--radius-s);

  i {
    line-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-default) ease-in-out;
  }
}

.megamenu__item.is-active > .megamenu__link {
  background-color: var(--c-neutral-50);
  color: var(--c-neutral-950);

  i {
    opacity: 1;
  }
}

.megamenu__products {
  position: absolute;
  left: var(--main-menu-width);
  top: 0;
  width: var(--products-width);
  overflow-y: auto;
  min-height: 35rem;
  padding: 4rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--duration-default) ease-in-out;
}

.header__nav-item:hover .megamenu__item.is-active > .megamenu__products,
.header__nav-item:hover .megamenu__submenu-item.is-active > .megamenu__products {
  opacity: 1;
  pointer-events: all;
}

.megamenu__products-list {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 0 2rem;
}

.megamenu__products-actions {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 4rem;
}

.megamenu__products-search {
  flex: 1;
}

/* Submenu  */
.megamenu__submenu {
  pointer-events: none;
  opacity: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: var(--main-menu-width);
  width: var(--submenu-width);
  height: 100%;
  padding: 3.4rem 0 4rem;
  transition: opacity var(--duration-default) ease-in-out;
  border-right: 1px solid var(--c-neutral-200, #E8E8E8);
}

.header__nav-item:hover .megamenu__item.is-active .megamenu__submenu {
  opacity: 1;
  z-index: 0;
  pointer-events: all;
}

.header__nav-item:hover .megamenu__item.is-active .megamenu__submenu-links {
  flex: 1;
}

.megamenu__submenu .megamenu__products {
  opacity: 0;
  pointer-events: none;
  width: var(--submenu-products-width);
  left: var(--submenu-width);
}

.header__nav-item:hover .megamenu__submenu.is-active .megamenu__products {
  opacity: 1;
  pointer-events: all;
}

.megamenu__submenu .megamenu__submenu-actions {
  margin-top: auto;
  padding-top: 4rem;
}

.megamenu__sublink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 3.2rem;

  i {
    line-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--duration-default) ease-in-out;
  }
}

.megamenu__item.is-active .megamenu__submenu-item.is-active .megamenu__sublink {
  i {
    opacity: 1;
  }
}
