.hero-banner {
  position: relative;
  flex-direction: column;
  overflow: hidden;
}

.hero-banner .container {
  width: 100%;
}

/* .hero__content */

.hero-banner .hero__background,
.hero-banner .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero-banner .hero__overlay:empty {
  display: block;
  z-index: 2;
}

.hero-banner .hero__inner {
  position: relative;
  z-index: 3;
}

.hero-banner .hero__media {
  padding: 0;
  height: 100%;
}

.hero-banner:has(.hero__content-media) .hero__inner {
  display: flex;
  gap: 8rem;
  align-items: center;
}

@media (max-width: 989px) {
  .hero-banner:has(.hero__content-media) .hero__inner {
    flex-direction: column;
    padding: 12rem 0 0;
    gap: 4rem;
  }
}

.hero-banner .hero__content {
  text-align: center;
  color: var(--color);
  padding: 19.4rem 0 9rem;
}

@media (max-width: 989px) {
  .hero-banner .hero__content {
    padding: 12rem 0 6rem;
  }
}

.hero-banner:has(.hero__content-media) .hero__content {
  text-align: left;
  padding: 9rem 0;
}

@media (max-width: 989px) {
  .hero-banner:has(.hero__content-media) .hero__content {
    text-align: center;
    padding: 0;
  }
}

.hero-banner .hero__eyebrow {
  font-size: var(--fz-r);
  color: inherit;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.hero__title {
  color: inherit;
  margin-bottom: 2rem;
}

.hero-banner .hero__body {
  max-width: 84.5rem;
  font-size: var(--fz-l);
  margin-inline: auto;
}

.hero-banner:has(.hero__content-media) .hero__body {
  margin-inline: 0;
}

.hero__content .button {
  margin-top: 4rem;
}

/* Media */
.hero-banner .hero__content-media {
  flex: 0 0 47%
}

@media (max-width: 989px) {
  .hero-banner .hero__content-media {
    width: 100%;
    max-width: 52rem;
  }
}

.hero-banner .hero__content-media {
  position: relative;
}

.hero-banner .hero__content-media .media {
  padding-bottom: 96.7%;
}

.hero-banner .hero__content-media .media img {
  object-fit: contain;
}

.hero-banner .hero__content-image-overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.hero-banner .hero__content-image-overlay .media {
  width: var(--width);
  padding-bottom: 0;
}

.hero-banner .hero__content-image-overlay .media img {
  width: 100%;
}
