/* ------------------------------------------------------------ *\
  Section main page
\* ------------------------------------------------------------ */

.main-page {
  padding-top: var(--header-top-position, 7.2rem);
}

.main-page .main-page__header {
  padding: 8rem 0;
  border-bottom: 1px solid var(--c-neutral-200);
}

.main-page .main-page__header-inner {
  max-width: 84.5rem;
  margin-inline: auto;
}

.main-page .main-page__title {
  margin-bottom: 1.6rem;
}

.main-page .main-page__subtitle {
  font-size: var(--fz-s);
}

.main-page .main-page__content {
  max-width: 105.8rem;
  margin-inline: auto;
  padding: 4rem 0 7.2rem;
  font-size: var(--fz-l);
}

