/* ------------------------------------------------------------ *\
  Section masonry
\* ------------------------------------------------------------ */

.masonry.border-top {
  border-top: 1px solid var(--c-neutral-200);
}

.masonry.border-bottom {
  border-bottom: 1px solid var(--c-neutral-200);
}

.masonry__header {
  text-align: center;
  margin-bottom: 6.4rem;
}

.masonry__header h2 {
  margin-bottom: 1.7rem;
}

.masonry__header .subtitle {
  max-width: 65ch;
  margin: 0 auto;
}

.masonry__grid {
  column-count: 3;
  gap: 2rem;
}


@media (max-width: 990px) {
  .masonry__grid {
    column-count: 2;
  }
}

@media (max-width: 749px) {
  .masonry__grid {
    column-count: 1;
  }
}

.masonry__grid > * {
  margin-bottom: 2rem;
}

.masonry .image-item {
  break-inside: avoid;
  display: block;
  border-radius: 1.6rem;
  overflow: hidden;
}

.masonry .image-item img,
.masonry .image-item .placeholder-svg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.masonry .image-item:hover img {
  transform: scale(1.05);
}

