/* ------------------------------------------------------------ *\
  Section form image contact
\* ------------------------------------------------------------ */

.form-image-contact .contact-form {
  max-width: 68.6rem;
  margin-inline: auto;
  background-color: var(--c-neutral-100);
  border-radius: var(--radius-m);
  padding: 3.2rem;
}

.form-image-contact__title {
  margin-bottom: 1.5rem;
}

.form-image-contact .form-row--actions {
  display: flex;
  justify-content: center;
}

.form-image-contact .checkbox {
  font-size: var(--fz-r);
}

.form-image-contact .checkbox a {
  color: var(--c-red-500);
}

.form-image-contact__header {
  margin-bottom: 4rem;
}

.form-image-contact .filepond--drop-label {
  flex-direction: column;
  min-height: 12.6rem !important;
  font-size: var(--fz-r);
  border: 1px solid var(--c-neutral-300) !important;
  border-radius:  var(--radius-m) !important;
  background-color: transparent !important;
  color: var(--c-neutral-950) !important;
  cursor: pointer;
}

.form-image-contact .filepond--drop-label small {
  font-size: var(--fz-s);
  color: var(--c-neutral-500);
}

.form-image-contact .filepond--drop-label:before {
  content: '';
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  margin-inline: auto;
  background-size: contain;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.999 16.5835L16.0762 16.5874C16.1386 16.5938 16.198 16.6097 16.2549 16.6304C16.2655 16.6343 16.2767 16.6368 16.2871 16.6411C16.3784 16.6791 16.4605 16.7344 16.5293 16.8032L21.8633 22.1362C22.1558 22.429 22.1558 22.9039 21.8633 23.1968C21.5705 23.4895 21.0956 23.4894 20.8027 23.1968L16.749 19.1431V28.0005C16.7487 28.4144 16.413 28.7505 15.999 28.7505C15.5851 28.7504 15.2493 28.4144 15.249 28.0005V19.1431L11.1963 23.1968C10.9035 23.4895 10.4286 23.4894 10.1357 23.1968C9.84303 22.9039 9.84295 22.4291 10.1357 22.1362L15.4688 16.8032C15.5031 16.7689 15.5406 16.7377 15.5811 16.7104C15.595 16.7011 15.6105 16.6944 15.625 16.686C15.6527 16.67 15.6802 16.6536 15.71 16.6411C15.7223 16.636 15.7354 16.6329 15.748 16.6284C15.8267 16.6004 15.9107 16.5835 15.999 16.5835ZM11.2051 3.28467C12.7302 3.16371 14.2634 3.39161 15.6875 3.95068C17.1114 4.50976 18.3894 5.38612 19.4248 6.51221C20.3329 7.49992 21.0334 8.65789 21.4873 9.9165H23.332C24.7802 9.91634 26.1903 10.3821 27.3535 11.2446C28.5168 12.1073 29.3716 13.3217 29.792 14.7075C30.2123 16.0933 30.1764 17.5775 29.6885 18.9409C29.2004 20.3045 28.2863 21.4754 27.082 22.2798C26.7377 22.5095 26.2721 22.4168 26.042 22.0728C25.8121 21.7284 25.9048 21.2618 26.249 21.0317C27.1854 20.4062 27.8958 19.4962 28.2754 18.436C28.6549 17.3756 28.6833 16.2209 28.3564 15.1431C28.0295 14.0652 27.3647 13.1207 26.46 12.4497C25.5552 11.7788 24.4584 11.4164 23.332 11.4165H20.9453C20.614 11.4163 20.3214 11.1988 20.2266 10.8813C19.854 9.63355 19.2026 8.48653 18.3213 7.52783C17.4398 6.56913 16.3509 5.82311 15.1387 5.34717C13.9265 4.87138 12.6214 4.67781 11.3232 4.78076C10.0252 4.88383 8.76743 5.28091 7.64551 5.94189C6.52347 6.603 5.56596 7.51052 4.84668 8.59619C4.12743 9.68189 3.6644 10.9175 3.49316 12.2085C3.32199 13.4995 3.44704 14.8128 3.8584 16.0483C4.26979 17.2839 4.95733 18.4096 5.86816 19.3403C6.1579 19.6364 6.15247 20.1111 5.85645 20.4009C5.56043 20.6905 5.08559 20.6861 4.7959 20.3901C3.72578 19.2967 2.91885 17.9736 2.43555 16.522C1.95228 15.0704 1.80571 13.5279 2.00684 12.0112C2.20799 10.4946 2.75173 9.0435 3.59668 7.76807C4.44167 6.49264 5.56563 5.42557 6.88379 4.64893C8.20195 3.87232 9.67995 3.40567 11.2051 3.28467Z" fill="black"/></svg>');
}
