.hero-banner-search {
  --charts-offset: -32rem;
  background: var(--c-neutral-100);
  overflow: hidden;
}

.hero-banner-search__main {
  padding: calc(var(--space-1500) + var(--header-top-position, 7rem)) 0 calc(-1 * var(--charts-offset) + 8rem);
  position: relative;
}

.hero-banner-search .hero__title {
  position: relative;
  text-align: center;
  margin-bottom: 4.4rem;
}

@media (min-width: 750px) {
  .hero-banner-search .hero__title:has(.hero__title-decoration) {
    padding-inline: 6rem;
  }
}

.hero-banner-search .hero__title-decoration {
  position: absolute;
  top: -0.8rem;
  left: 0;
  width: 6.8rem;
  transform-origin: center;
  line-height: 0;

  svg {
    width: 100%;
    height: auto;
  }
}

.hero-banner-search .hero__title-decoration.small {
  top: unset;
  left: unset;
  bottom: 1.2rem;
  right: -2.6rem;
  width: 5.1rem;
  transform: rotate(49.15deg);
}

.hero-banner-search .hero__background,
.hero-banner-search .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero-banner-search .hero__overlay:empty {
  display: block;
  z-index: 2;
}

.hero-banner-search .hero__inner {
  max-width: 84.4rem;
  margin-inline: auto;
  position: relative;
  z-index: 3;
}

.hero-banner-search .hero__media {
  padding: 0;
  height: 100%;
}

.hero-banner-search__charts {
  position: relative;
  margin-top: var(--charts-offset);
  padding-bottom: 8rem;
  z-index: 2;
}

.hero-banner-search .hero__search-inner {
  position: relative;
}

.hero-banner-search .hero__search-results {
  display: block;
  max-height: 60rem;
  overflow-y: auto;
  background-color: var(--color-background-secondary);
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  width: 100%;
  z-index: 1;
  border-radius: 0 0 var(--radius-m) var(--radius-m);
  box-shadow: 0 8rem 8rem 0 #00000026;

  visibility: hidden;
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--duration-default),
    visibility var(--duration-default);
  transition-delay: var(--duration-default);
}

.hero__search-results.show {
  opacity: 1;
  visibility: visible;
}

.hero-banner-search .predictive-search__inner {
  padding: 4rem;
  border-top: 1px solid #00000026;
  display: block;
}

@media (max-width: 989px) {
  .hero-banner-search .predictive-search__inner {
    padding: 2.4rem;
  }
}

.hero-banner-search .predictive-search__songs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.4rem;
}

@media (max-width: 989px) {
  .hero-banner-search .predictive-search__songs-list {
    grid-template-columns: 1fr;
  }
}

.hero-banner-search .predictive-search__back,
.hero-banner-search .predictive-search__others {
  display: none;
}

.hero-banner-search:has(.hero__search-results.show) input[type="search"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hero-banner-search input[type="search"] {
  background-color: var(--c-neutral-50);
}
